table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

td,
th {
    border: 1px solid #808080;
    text-align: left;
    padding: 8px;

}

tr:nth-child(odd) {
    color: #d81324;
}

tr:nth-child(even) {
    background-color: #d81324;
    color: #fff;
}

.noRecords td {
    text-align: center;
    font-size: 24px;
}

.searchForm {
    display: flex;
    justify-content: space-around;
}

.searchForm .inputText {
    padding: 0 20px;
}

.searchBtn {
    background-color: #d81324;
    border: 1px solid #808080;
    border-radius: 10px;
    color: #fff;
}

.searchBtn:hover {
    background-color: #fff;
    border: 1px solid #d81324;
    color: #d81324;
}

.criteria {
    border: 1px solid #d81324;
    border-radius: 10px;
    padding: 0px 5px;
    color: #d81324;
}