.button {
    display: block;
    text-align: center;
}

.detailsBtn {
    padding: 3px 8px;
    border-radius: 8px;
    background-color: #d81324;
    border: 1px solid #fff;
    color: #fff;
}

.detailsBtn:hover {
    background-color: #fff;
    border: 1px solid #d81324;
    color: #d81324;
}