.no-messages {
    text-align: center;
}

.access-denied {
    font-size: 24px;
    margin: 40px auto;
    color: #d81324;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}
