.overlay-delete {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* Add a pointer on hover */
}

.deleteItem-btns {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.deleteItem-btns button {
    margin-right: 50px;
    border:1px solid #d81324;
    border-radius: 20px;
    padding: 3px 13px;
    color: #d81324;
    font-size: 24px;

}

.deleteItem-btns button:hover {
    color: #fff;
    background-color: #d81324;
    border: 1px solid #fff;
}

.delete-message {
    color: red;
    font-size: 32px;
    background-color: rgb(201, 201, 201);
    border: 2px solid #d81324;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 150px auto;
    width: 50%;
}